# Environment files
.env
key.env
*.env.*
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg-info/
.eggs/

# Temp files
uploads/
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.wav
*.mp3
temp/
tmp/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db